$link-color: rgb(85, 26, 139);

.sidebar-container{
  overflow-y: auto;
  height:calc(100vh - 63px);
  margin-top: 63px;
}

.sidebar-menu{
  margin: 25px 0 0 20px;
}

.sidebar-list{
  padding: 0;
  margin: 0;
  list-style: none;

  li{
    width: 100%;
    // display: inline-block;
    position: relative;
  }
}

.sidebar-sublist{
  padding: 0 0 0 20px;
  margin: 0;
  list-style: none;
  li{
    width: 100%;
    display: inline-block;
    position: relative;
  }
}

.sidebar-link{
  display: inline-block;
  padding:8px 4px 8px 10px;
  width:100%;
  font-size: 1.1rem;
  &:hover{
    background-color: rgba(0,0,0,0.1);
  }
}

.sidebar-sublink{
  display: inline-block;
  padding: 8px 4px 8px 8px;
  width:100%;
  font-size: 1.1rem;
  &:hover{
    background-color: rgba(0,0,0,0.1);
  }
}

.link-arrow{
  color: $link-color;
  position: absolute;
  right: 22px;
  top: 0.48rem;
  transition: 0.1s linear;

}

