.header{
  box-shadow: 0 2px 4px #888;
  position: fixed;
  background: #4e4ea2;
  width: 100%;
  font-size: 16px;
  height: 63px;
  z-index: 1000;
}

.header-link-container{
  display: inline-block;
  position: relative;
  top: -2px;
}

.header-link{
  list-style: none;
  display: inline-block;
  cursor: pointer;
  margin: 11.5px 0;

  a{
    color: #e8e8e8;
    padding: 8px;
    border: 1px solid rgba(0,0,0,0);
    &:focus{
      background-color: rgba(255,255,255,0.2);
    }
    &:hover{
      background: #444698;
      border: 1px solid rgb(108, 118, 140);
      border-radius: 4px;
    }
  }
}

.hb-btn{
  height: 63px;
  width: 80px;
  margin-right: 20px;
  background-color: rgba(0,0,0,0);
  border: 0;
  color: #f0f0f0;
  outline: none;

  &:hover{
    background-color: rgba(0,0,0,0.1);
  }
  &:focus{
    background-color: rgba(255,255,255,0.2);
  }
}


@-webkit-keyframes ripple {
  0%   {}
  25%  {background-color: #eee;}
  75%  {}
  100% {}
}

/* Standard syntax */
@keyframes ripple {
  0%   {}
  25%  {background-color: #eee;}
  75%  {}
  100% {}
}
