.container{
  position: relative;
  padding-top: 63px;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 63px;
  background-color: #e8e8e8;
  width: 260px;
  min-height: calc(100vh - 63px);
  box-shadow: 2px 0px 4px #888;

}

.content{

}
