<div class="vg-container">
  <h1>H1標題</h1>
  <h2>H2標題</h2>
  <h3>H3標題</h3>
  <h4>H4標題</h4>
  <h5>H5標題</h5>
  <h6>H6標題</h6>
  <pre class="vg-pre">
是否非常想學好 Python，一方面被瑣事糾纏，一直沒能動手，另一方面，擔心學習成本太高，心裡默默敲著退堂鼓? 幸運的是，Python 是一門初學者友好的程式語言，想要完全掌握它，你不必花上太多的時間和精力。 Python 的設計哲學之一就是簡單易學，體現在兩個方面： 語法簡潔明了：相對 Ruby 和 Perl，它的語法特性不多不少，大多數都很簡單直接，不玩兒玄學。 切入點很多：Python 可以讓你可以做很多事情，科學計算和數據分析、爬蟲、Web 網站、遊戲、命令行實用工具等等等等，總有一個是你感興趣並且願意投入時間的。 廢話不多說，學會一門語言的捷徑只有一個： Getting Started 原文網址：https://read01.com/6ONG8j.html
  </pre>

  <p>
    我是一個P
    是否非常想學好 Python，一方面被瑣事糾纏，一直沒能動手，另一方面，擔心學習成本太高，心裡默默敲著退堂鼓? 幸運的是，Python 是一門初學者友好的程式語言，想要完全掌握它，你不必花上太多的時間和精力。 Python 的設計哲學之一就是簡單易學，體現在兩個方面： 語法簡潔明了：相對 Ruby 和 Perl，它的語法特性不多不少，大多數都很簡單直接，不玩兒玄學。 切入點很多：Python 可以讓你可以做很多事情，科學計算和數據分析、爬蟲、Web 網站、遊戲、命令行實用工具等等等等，總有一個是你感興趣並且願意投入時間的。 廢話不多說，學會一門語言的捷徑只有一個： Getting Started 原文網址：https://read01.com/6ONG8j.html
  </p>
</div>
