@charset "UTF-8";

a {
  &:focus{
    outline-color: #eedc36 !important;
    outline-style: solid !important;
    outline-offset: -0.125rem !important;
    outline-width: 2px !important;
  }
  &:hover,
  &:active{
    // color: #005dfb;
  }
  &[accesskey]{
    position: absolute;
    margin-top: 1rem;
    margin-right: 1rem;
    color: transparent;
  }
  &[accesskey]:focus {
    color: #625995;
    outline-color: #eedc36 !important;
    outline-style: solid !important;
    outline-offset: -0.125rem !important;
    outline-width: 2px !important;
  }
}

select:focus, button:focus, input:focus {
  outline-color: #eedc36 !important;
  outline-style: solid !important;
  outline-offset: -0.125rem !important;
  outline-width: 2px !important;
}
